<!-- static TFs between astra and slamtec  Laser -->
<launch>
    
    <!-- Adjust the transformation between your astra and the slamtec laser -->
    <!-- In a perfect aligned world, rpy would be: "-1.57 0.0 -1.57" -->                        <!-- astra_link: red right, green down, blue front -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf_astra_slamtec" args="0.00 0.00 0.824 0.0 0.0 0.0 laser camera_link 100" respawn="true"/> <!-- 10Hz-->
    
    <!-- DO NOT CHANGE. Align "astra_laser_link" with "laser" by inverting the axis of "astra_link"-->
    <node pkg="tf" type="static_transform_publisher" name="static_tf_astra_inverted_link" args="0.0 0.0 0.0 1.57 -1.57 0.0 camera_link camera_laser_link 100" respawn="true"/> <!-- 10Hz-->
    
</launch>
    
